/* Styling for the playlist page */
div.container {
    article.your-play-list {
        min-height: 300px;
        padding-top: 0;
    }
}

article.your-play-list {
    padding: 20px 0 20px 0;
    overflow: visible;

    >.title {
        overflow: auto;

        >.message {
            background: url('/images/feedback-bkg.png') no-repeat right center;
            color: #202020;
            display: inline-block;
            float: right;
            font-weight: 300;
            margin: 6px 0 0;
            padding: 0 80px 0 0;
            text-align: right;
            width: 500px; 

            a {
                font-weight: 600;
            }
        }
        p.instructions {
            clear: left;
            float: left !important;
            height: auto !important;
            margin-top: 4px !important;
            text-align: left !important;
            width: 400px;
        }
    }

    #empty-play-list {
        padding: 70px 0;
        text-align: center;

        strong {
            color: black;
            display: block;
            margin: 0 0 10px 0;
        }
        p {
            color: #505050;
            font-weight: 300;
        }
    }


    table {
        margin: 0 0 10px;

        th {
            padding: 15px 0;

            >span {
                font-size: 13px;
            }
        }
    }
    #filter-list {
        border: 0;

        th {
            padding: 0;
        }
        .label {
            color: #808080;
            display: block;
            float: left;
            font-weight: 600;
            margin: 12px 6px 2px 4px;
            width: 50px;
        }

        .rollup {
            height: 0;
            overflow: hidden;
            padding: 0;

            &.open {
                border-bottom: 1px solid #e0e0e0;
            }
        }

        .filter-list {
            display: inline-block;
            float: left;
            width: 1030px;

            .filter {
                border-radius: 3px;
                color: white;
                display: inline-block;
                float: left;
                font-size: 12px;
                line-height: 24px;
                margin: 10px 6px 0 0;
                overflow: hidden;
                padding: 0 0 0 8px;

                span {
                    float: left;
                }

                a {
                    border-left: 1px solid rgba(255, 255, 255, 0.5);
                    color: white;
                    cursor: pointer;
                    display: inline-block;
                    float: right;
                    font-size: 16px;
                    font-weight: bold;
                    height: 24px;
                    line-height: 24px;
                    margin-left: 6px;
                    text-align: center;
                    text-decoration: none;
                    width: 22px;

                    &:hover {
                        border-color: transparent;
                        background: black;
                    }
                }
            }
        }
    }

    .dropdown {
        display: inline-block;
        position: relative;
        text-align: left;
        float: left;

        >.primary {
            background: #f0f0f0;
            border: 1px solid #e0e0e0;
            border-radius: 3px;
            color: #505050;
            cursor: default;
            display: block;
            font-size: 13px;
            height: 20px;
            line-height: 20px;
            padding: 1px 7px;
            white-space: nowrap;
            width: 44px;

            span {
                float: left;
            }
            em {
                float: right;
                font-style: normal;
                margin-left: 3px;
                width: 10px;
            }
        }
        >.options {
            background: $blue;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
            display: none;
            font-size: 13px;
            left: 0;
            position: absolute;
            top: 24px;
            width: 150px;
            z-index: 100;

            hr {
                margin: 4px 6px;
                border-color: rgba(255, 255, 255, 0.4);
            }

            a {
                color: white;
                cursor: pointer;
                display: block;
                overflow: auto;
                padding: 6px 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 130px;

                span {
                    float: left;
                }
                em {
                    float: right;
                    font-style: normal;
                }

                &:hover, &:focus {
                    background: shade($blue, 40%);
                    color: white;
                    text-decoration: none;
                }
                &.disabled {
                    background: darken($blue, 20%);
                    cursor: default;
                }
            }
            >.sub-dropdown {
                position: relative;
                display: block;
                width: 150px;
                color: white;

                .primary {
                    color: white;
                    display: block;
                    overflow: auto;
                    padding: 6px 10px;
                    white-space: nowrap;
                    width: 130px;

                    span {
                        float: left;
                        width: 100px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: block;
                    }
                    em {
                        float: right;
                        font-style: normal;
                    }
                }
                >.options {
                    background: shade($blue, 30%);
                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
                    display: none;
                    left: 150px;
                    position: absolute;
                    top: 0;
                    width: 150px;

                    a:hover {
                        background: shade($blue, 60%);
                    }
                }
                &:hover, &:focus {
                    .primary {
                        background: shade($blue, 30%);
                    }
                    >.options {
                        display: block;
                    }
                }
            }
        }

        &:hover {
            >.primary {
                background: $blue;
                border-color: $blue;
                color: white;
                border-radius: 3px 3px 0 0;
                text-decoration: none;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
            }
            >.options {
                display: block;
            }
        }
    }

    #filter-column-header {
        vertical-align: bottom;
        width: 60px;
    }

    #name-column-header {
        text-align: center;

        >a {
            float: right;
            height: 20px;
            margin: 10px 190px 0 0;
            padding: 4px 12px 0 0;
        }
    }

    #cost-column-header {
        min-width: 56px;

        span {
            margin-left: 16px;
        }
        a {
            margin-left: 26px;
        }
    }
    #estimated-hours-column-header {
        width: 70px;
        a {
            margin-left: 12px;
        } 
    }
    #hours-column-header {
        width: 70px;
        a {
            margin-left: 13px;
        }
    }

    tfoot {
        tr {
            td {
                &.cost {
                    text-align: right;
                    padding: 8px 15px 8px 0;
                }
                &.hours {
                    text-align: right;
                    padding: 8px 16px 8px 0;
                }
            }
        }
    }

    #empty-row {
        border-bottom: 1px solid #e0e0e0;

        td {
            color: #303030;
            font-weight: bold;
            padding: 20px 0;
            text-align: center;
        }

        &.blur {
            display: none;
        }
    }

    tr.game {
        border-bottom: 1px solid #e0e0e0;
        overflow: auto;
        background: white;

        &.blur,
        &.ignore {
            display: none;
        }
        &.odd {
            background: #f4f4f4;

            td.left-edge,
            td.right-edge {
                div {
                    border-color: #e0e0e0;
                }
            }
        }
        &:hover {
            background: #fff6df;

            &.odd {
                background: #fff7e0;
            }
            td.position {
                div {
                    color: black;
                }
            }
            td.right-edge,
            td.left-edge {
                div {
                    border-color: #e0e0e0;
                }
            }
        }

        div.rollup-spacer {
            height: 40px;
        }

        td {
            padding: 8px 10px;
            cursor: default;

            &.left-edge {
                div {
                    border-left: 1px solid white;
                }
            }
            &.right-edge {
                div {
                    border-right: 1px solid white;
                }
            }
            &.position {
                padding: 0;
                width: 50px;

                div {
                    color: #808080;
                    font-weight: bold;
                    padding: 8px 10px;
                    text-align: center;
                    line-height: 40px;
                    width: 39px;
                }
            }
            &.name {
                padding: 8px 0;
                max-width: 600px;

                img {
                    background: url(/images/small-unknown-game.png) white;
                    border: 1px solid #e0e0e0;
                    display: block;
                    float: left;
                    height: 36px;
                    width: 96px;
                }
                h4.name {
                    @include game-title();
                    color: #898989;
                    display: block;
                    float: left;
                    font-size: 16px;
                    font-weight: 400;
                    height: 20px;
                    line-height: 19px;
                    padding-left: 10px;
                    max-width: 500px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                a:hover {
                    h4.name {
                        color: black;
                    }
                }
                .tools {
                    float: left;
                    width: 440px;
                }
                .genre {
                    color: #898989;
                    display: inline-block;
                    font-size: 11px;
                    margin: 0;
                    padding: 1px 0 0 0;
                }
                .tag-list {
                    color: #898989;
                    display: inline-block;
                    font-size: 11px;
                    margin: 2px 0 0 10px;
                    float: left;
                }
                .tag {
                    border-radius: 2px;
                    color: white;
                    cursor: pointer;
                    display: inline-block;
                    float: left;
                    line-height: 16px;
                    margin-right: 5px;
                    max-width: 60px;
                    overflow: hidden;
                    padding: 0 5px;
                    text-decoration: none;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &:hover {
                        background: black;
                    }
                }
                .edit-tags {
                    background: url('/images/edit-tags.png') no-repeat center bottom; 
                    display: inline-block;
                    height: 16px;
                    width: 30px;
                    line-height: 14px;
                    &:hover {
                        text-decoration: none;
                        background-position: center top;
                        cursor: pointer;
                    }
                }
            }
            &.cost {
                color: #303030;
                padding: 8px 15px 8px 0;
                text-align: right;
                white-space: nowrap;
                width: 70px;
            }
            &.hours {
                color: #303030;
                padding: 8px 16px 8px 0;
                text-align: right;
                white-space: nowrap;
            }
            &.community-rating {
                padding: 8px 0 8px 14px;
                width: 132px;

                div.rating {
                    width: 126px;
                }
            }
            &.finished {
                padding: 0;
                width: 50px;

                >div {
                    line-height: 30px;
                    padding: 8px 10px;
                }

                label {
                    display: inline-block;
                    height: 40px;
                    width: 28px;
                    text-align: center;
                }
                .finished-game {
                    margin: 13px 0 0;
                    vertical-align: center;
                }
            }
            &.play {
                padding: 0;
                width: 60px;
                text-align: center;

                >a {
                    @include linear-gradient(top, lighten($green, 10%) 0%, $green 90%);
                    border-radius: 4px;
                    color: white;
                    margin: 0 0 0 0; 
                    padding: 4px 10px;

                    &:hover {
                        background: black;
                        text-decoration: none;
                    }
                }
            }
        }
        @include inactive-rating-bar;
    }

    #tag-modal {
        >.modal-dialog {
            width: 400px;
        }

        .clear {
            clear: both;
        }

        .tag-list {
            overflow: auto;

            >.group {
                margin-bottom: 14px;
                width: 180px;
                float: left;
            }
            strong {
                font-size: 14px;
                display: block;
                margin: 0 0 4px;
            }
            hr {
                margin: 12px 0;
            }
            label {
                display: inline-block;
                font-size: 13px;
                margin: 1px 0 1px 3px;

                input[type="checkbox"] {
                    display: inline-block;
                    float: left;
                    margin: 2px 8px 4px 0;
                }
                &.grouped {
                    margin-left: 18px;
                }
            }
            .field {
                width: 168px;
                display: inline-block;
            }
        }

        a.manage-tags {
            display: inline-block;
            float: left;
            font-size: 13px;
            margin: 6px 18px 0 2px;
        }
        h4 {
            span {
                display: inline-block;
                float: right;
                font-size: 17px;
                line-height: 28px;
                margin-right: 10px;
                overflow-x: hidden;
                overflow-y: visible;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 300px;
                @include game-title();
            }
        }

        .modal-header {
            input[type="text"] {
                border: 1px solid #d9d9d9;
                border-radius: 4px;
                font-size: 13px;
                margin: 0;
                padding: 6px 8px;
                width: 268px;
                margin-right: 10px;
            }

            input[type="submit"] {
                background: #e0e0e0;
                border: 1px solid #d0d0d0;
                border-radius: 4px;
                color: #303030;
                display: inline-block;
                font-size: 13px;
                height: 30px;
                padding: 3px 19px;

                &:hover {
                    background: black;
                    border-color: black;
                    color: white;
                    cursor: pointer;
                }
            }
            form {
                margin: 14px 0 4px;
                border-top: 1px solid #e0e0e0;
                padding: 14px 0 0;
            }
        }

        .modal-footer {

            button {
                float: right;
            }
            .primary {
                margin: 0 0 0 10px;
                width: 92px;
            }
        }
        .modal-form {
            margin-bottom: 0;
        }
    }

    .color-0 {
        background: tint($green, 35%);
    }
    .color-1 {
        background: tint(red, 50%);
    }
    .color-2 {
        background: tint(desaturate(darkorange, 10%), 20%);
    }
    .color-3 {
        background: tint(green, 40%);
    }
    .color-4 {
        background: tint(desaturate($blue, 20%), 40%);
    }
    .color-5 {
        background: tint(desaturate(violet, 30%), 20%);
    }
    .color-6 {
        background: tint(purple, 50%);
    }
    .color-7 {
        background: #b0b0b0;
    }
}
