<div id="premium-modal" class="modal fade" style="display: none;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="Cancel">&times;</button>
                <h4>Add to your Library</h4>
            </div>

            <div class="modal-body">
                <p>Gauge Supporters get first access to the newest features. Sign up now and get immediate access.</p>
            </div>

            <div class="modal-footer">
                <a href="/payment/crowdfunding/" class="primary">More Details</a>
                <button type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
